@import "tailwindcss";

@theme {
  --color-primary: hsl(0, 0%, 6%);
  --color-secondary: hsl(0, 0%, 20%);
  --color-green-text: hsl(83, 55%, 56%);
  --color-green-bg: hsl(84, 33%, 90%);
  --color-green-light: hsl(83, 95%, 74%);
}

@keyframes scroll-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes scroll-right {
  from {
    transform: translate3d(-50%, 0, 0);
  }
  to {
    transform: translate3d(0%, 0, 0);
  }
}

